@tailwind base;
@tailwind components;
@tailwind utilities;

.row {
  background-image: url(../public/assets/two.png);
  background-size: 63%;
  border-radius: 2%;
  box-shadow: 0 0 1.5em #031a48;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5%;
  margin: 0;
  width: 80%;
  height: 400px;
  overflow: hidden;
}

body {
  
  background-image: url(../public/assets/pa.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  display: inline-block;
  justify-content: space-between;
  padding-left: 3%;
  padding: 40px;
}
.servicebox {
  border-radius: 20%;
}
.h2title {
  font-weight: bolder;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1.8em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  padding-top: 1%;
}
#mission {
  font-weight: bolder;
  box-shadow: 0 0 1.5em #031a48;
  background-color: whitesmoke;
  border-radius: 1%;
  padding-right: 75%;
  width: 400px;
  padding: 10px;
  margin: 30px;
  margin-right: 200px;
  
}

svg {
  color: red;

}
#branding {
  color: rgb(47, 133, 198);
  font-weight: bolder;
  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;
  
}
 #branding :hover {
  color: rgb(47, 133, 198);
  transform: scale(1.1);
  transition: 0.5s;
}
.current {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bolder;
} 
 a:link {
    color: darkgray;
    text-decoration: none;
  }

 
.current :hover {
  color: rgb(58, 58, 106);
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

/* .current {
  
  justify-content: space-between;
  padding-left: 3%;
  /* border-radius: 1%; */
  /* font-weight: bolder;
  font-size: 1.3em;  
  text-transform: uppercase;
  color: rgb(47, 133, 198);
  width: 100%;
  background-color: whitesmoke;
  border-radius: 1%;
  box-shadow: 0 0 1.5em #031a48;
  
} */
 

#newsletter {
  padding-right: 5%;
  border-radius: 1%;
  font-weight: bolder;
  font-size: 1.0em;
}
#showcase {
  padding-left: 2%;
  margin-bottom: 2%;
  border-radius: 1%;
  font-weight: bolder;
  font-size: 1.0em;
  width: 30%;
}
.current1 {
  /* cart needs to be to the right */
  text-align: right;
  padding-right: 5%;
  border-radius: 1%;
  font-weight: bolder;
  font-size: 1.0em;
}
.map {
  width: 300px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

.map {
  width: 90vw;
}
body {
  width: 100%;
  overflow: auto;
}

h1 {
  font-size: x-large;
}
.row {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#mission{
  width: 70vw;
  align-self: center;
  margin-left: 190px;
}

img {
  width: 80%;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 80%;
}
#newsletter {
  width: 50vw;
  padding-right: 0%;
}
#showcase {
  width: 80vw;
  padding-left: 0%;
}
.current {
  width: 50vw;
  padding-left: 0%;
}
  /* Styles */
}

/* Profile page */

#profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

#home-button-profile, #cart-button-profile {
  position: absolute;
  top: 1rem;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #4da6ff;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#home-button-profile:hover, #cart-button-profile:hover {
  font-size: 1.1rem;
  transform: scale(1.05);
}

#home-button-profile {
  left: 1rem;
}

#cart-button-profile {
  right: 1rem;
}

#title-profile {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

#pets {
  margin-bottom: 2rem;
}

#pets ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#pets li {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pets li img {
  max-width: 200px;
  max-height: 200px;
}

#register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register h3 {
  margin-bottom: 1rem;
}

#register div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

#register label {
  margin-bottom: 0.5rem;
}

#register input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid gray;
  width: 100%;
  font-size: 1rem;
  margin-top: 0.5rem;
}

#register-button {
  margin-top: 1rem;
  background-color: #0077FF;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#register-button:hover {
  transform: scale(1.05);
}

/* Mobile styles for Profile */
@media (max-width: 600px) {
  #profile-page {
    padding: 1rem;
  }

  #home-button-profile {
    font-size: 0.8rem;
  }

  #cart-button-profile {
    font-size: 0.8rem;
  }

  #title-profile {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  #pets {
    margin-top: 1rem;
  }

  li {
    margin: 0.5rem;
  }

  #register {
    margin-top: 1rem;
    max-width: 100%;
  }

  input[type="text"],
  input[type="number"] {
    font-size: 0.8rem;
  }

  #register-button {
    margin-top: 1rem;
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
}

/* Profile error page */
.error-message {
  color: red;
  font-size: 1.2rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 1rem;
}

.button {
  background-color: rgb(47, 133, 198); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.2s ease-in-out; 
}

/* .button:hover {
  transform: scale(0.95);
} */


/* cart css */

#cart-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

#cart-title {
  text-align: center;
}

#item-container {
  align-self: center;
}

.cart-item {
  outline: 2px solid gold;
  width: 200px;
  height: 60px;
  text-align: center;
  padding: 10px;
}

#cart-message {
  text-align: center;
}

#purchase-button {
  width: 100px;
  align-self: center;
}

#home-button-cart {
  margin-top: 20px;
  text-align: center;
  margin-right: 20px;
}

#profile-button-cart {
  margin-top: 10px;
  margin-left: 25px;
  text-align: center;
}
/* home */
.highlight {
  text-align: center;
}
nav {
  align-items: center;
}
#homepage-intro {
  align-self: center;
  transform: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



#body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mission {
  align-self: center;
  text-align: center;
}

footer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container4 {
  width: 100%;
}

.service {
  cursor: pointer;
  color: blue;
}

h3 {
  font-size: larger;
}