.row {
  display: flex;
  justify-content: space-between;
  background-color: rgb(47, 133, 198);
  border-radius: 1%;
 
}
body {
  background-color: white;
  
}
.box {
  display: inline-block;
  justify-content: space-between;
  padding-left: 3%;
}
.servicebox {
  border-radius: 20%;
  cursor: pointer;
}
.h2title {
  font-weight: bolder;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1.8em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  padding-top: 1%;
}
#mission {
  font-weight: bolder;
  box-shadow: 0 0 1.5em #031a48;
  background-color: whitesmoke;
  border-radius: 1%;
  padding-right: 75%;
  width: 400px;
  padding: 10px;
  margin: 30px;
  
}

svg {
  color: red;
}
#branding {
  color: rgb(47, 133, 198);
  font-weight: bolder;
  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;
}
 #branding :hover {
  color: rgb(47, 133, 198);
  transform: scale(1.1);
  transition: 0.5s;
}
.current {
  display: inline-flex;
  justify-content: space-between;
  padding-left: 3%;
  border-radius: 1%;
  font-weight: bolder;
  font-size: 1.3em; 
}
.current :hover {
  color: rgb(47, 133, 198);
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}
#newsletter {
  padding-right: 5%;
  border-radius: 1%;
  font-weight: bolder;
  font-size: 1.0em;
}
#showcase {
  padding-left: 2%;
  margin-bottom: 2%;
  border-radius: 1%;
  font-weight: bolder;
  font-size: 1.0em;
}
.current1 {
  /* cart needs to be to the right */
  text-align: right;
  ;
}
.map {
  width: 500px;

}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.map {
  width: 90vw;
}
body {
  width: 100%;
  overflow: auto;
}
.row {
  display: block;
}
#mission{
  width: 70vw;
  padding-right: 0%;
}
  /* Styles */
}

/* Profile */

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-info p {
  font-size: 16px;
  margin-bottom: 5px;
}

.profile-info .email {
  font-style: italic;
}
/* Profile error page */
.error-message {
  color: red;
  font-size: 1.2rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 1rem;
}

.button {
  background-color: rgb(47, 133, 198); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.2s ease-in-out; 
}

.button:hover {
  transform: scale(0.95);
}


