body {
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #254454;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

#branding {
    text-align: center;
    border-radius: 5%;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1.8em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #2a3bd1,
    1px 2px 1px #957dad,
    1px 3px 1px #957dad,
    1px 4px 1px #89affb,
    1px 5px 1px #957dad,
    1px 6px 1px #957dad,
    1px 10px 5px rgba(13, 127, 221, 0.874),
    1px 15px 10px rgba(72, 127, 217, 0.663),
    1px 20px 30px rgba(37, 134, 231, 0.94),
    1px 25px 50px rgba(202, 149, 89, 0.927);
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #bec4e0 29%,
    #1a68bb 67%,
    #5bacfd 100%);
    
}
.current {
    color: #0c3483;
    font-weight: 600;
    font-size: large;
    display: inline-flex;
    float: right;
    padding: 0.3em;
     margin: .5em; 
     background-color: #fefefe;
    border-radius: 0.35em;
    box-shadow: 0 0 1.5em #031e54;
    
}

:hover {
    color: brown;
}




.h2title {
    font-weight: bolder;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1.8em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    padding-top: 1%;
    
    /* box-shadow: 0 0 1.5em #0559ff */
}
#box {
    box-shadow: 0 0 1.5em #e9eaed;
    background-color: rgb(192, 215, 229);
    border-radius: 5%;
    padding-right: 75%;
    opacity: 0.8;
}
.container4 {
    border-radius: 80%;
    text-align: center;
    display: inline-flex;
    padding-inline-start: 15%;
    padding-inline-end: 15%;
    padding-top: .3%;
    padding-bottom: .3%;
    margin-top: .3%;
    margin-bottom: .3%;
    margin-left: .3%;
    margin-right: .3%;
    
}
.servicebox {
    border-radius: 70%; 
}
.box {
    padding-left: 0%;
    padding-right: 3%;
    padding-bottom: 2%;

}
footer {
    color:whitesmoke;
    display: inline-flex;
}
.email  {
    border-radius: 30%;
    color: aliceblue;
    font-weight: bold;
}
/* .email:hover {
    color: #0c3483;
    font-weight: bold;
} */
#mission {
    text-align: center;
    font-size: 2em;
    padding: 1px;
}
h4 {
    text-align: left;
    padding-left: 18%;
    padding-bottom: .2em;
    margin-bottom: 1px;
    color: whitesmoke;  
}
.container5 {
    text-align: left;
    margin-top: .1px;
    margin-bottom: .1px;
    text-indent: 2%;
    color: #bec4e0;
    width: 50%;
    border: 1px solid whitesmoke;
    box-shadow: 0 0 1.5em #3c5293;
    background-color: rgba(45, 122, 204, 0.84);
    border-radius: 5%;
    
}




 
  
  

